{% extends 'base.html.twig' %}

{% block title %}Shiatsu & Co - Login{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/style.css') }}">{% endblock %}

{% block body %}

    <h1>Pour entrer en contact avec moi ça se passe ici!👇</h1>

{% endblock %}